@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction - section 1
        4.3 Case Studies - section 2
        4.4 Services - section 3
        4.5 Contact Us - section 4
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4 {
    font-family: "Merriweather", serif;
    font-weight: 400;
}

p, a, input::placeholder, textarea::placeholder  {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

div {
    width: 40rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: #ED4385;
    color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    text-transform: uppercase;
    border: none;
    box-shadow: 0.2rem 0.2rem 0.8rem hsl(241 78 40);
    align-items: center;
}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background-color: #4845E4;
    background: linear-gradient(133deg, rgba(72, 69, 228, 1) 20%, rgba(87, 34, 205, 1) 70%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 25rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 20rem;
    padding-right: 1rem;
}

.introBlock {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

.introButton {
    width: 15rem;
    align-self: center;
}

.squiggleHeader {
    position: relative;
    top: 1rem;
    margin: 0;
    align-items: center;
}

/* --------------- 4.2 Introduction - section 1 ------------------- */
.introduction {
    text-align: center;
}

.introduction h2 {
    color: #4845E4;
}

.introduction a {
    color: #4845E4;
    font-size: 0.75rem;
}

/* --------------- 4.3 Case Studies - section 2 ------------------- */
.projects {
    background-color: #F3F6F9;
    padding: 1rem 1.5rem;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.wrapperProjectPicture {
    flex-basis: 22rem;
    flex-grow: 0;
    flex-shrink: 1;
}

.projectText {
    flex-basis: 18rem;
    text-align: left;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}

.projectPicture {
    width: 100%;
    box-shadow: 0.2rem 0.2rem 0.8rem hsl(210, 33%, 85%);
}

.squiggle {
    width: 2rem;
}

.linkProject {
    color: #4845E4;
    text-transform: uppercase;
}

/* --------------- 4.4 Services - section 3 ------------------- */
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48rem;
}

.service {
    flex-basis: 15rem;
    padding: 2rem 1.5rem;
    border: 1px solid #5722CD;
}

.icon {
    width: 3rem;
}

.service h4 {
    color: #5722CD;
    padding: 0.5rem 0;
}

.service p {
    color: #7A7A7A;
    font-size: 0.75rem;

}

/* --------------- 4.5 Contact Us - section 4 ------------------- */
.contactUs {
    background-color: #4845E4;
    background: linear-gradient(133deg, rgba(72, 69, 228, 1) 20%, rgba(87, 34, 205, 1) 70%);
    color: #fff;
    padding: 1rem;
    height: 100%;

}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    width: 40rem;
    height: 3rem;
    padding: 1rem 0.5rem;
}

textarea{
    padding: 1rem 0.5rem;
}

input::placeholder, textarea::placeholder {
    color: #7A7A7A;
}

.submitButton {
    margin: 1rem 0;
    align-self: center;

}



/* ------------------------------- 5. Media Queries -------------------------------- */